@tailwind base;

@tailwind components;

@tailwind utilities;

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url('../images/adrien-ledoux-mBHuEkka5wM-unsplashL.jpg');
    background-color: #ebeffa;
}

h1 {
    font-family: 'Dancing Script', cursive;
}