@tailwind base;

@tailwind components;

@tailwind utilities;

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #ebeffa;
}

h1 {
    font-family: 'Dancing Script', cursive;
}